pywin32; sys_platform=='win32'
pythonnet; sys_platform=='win32'

jupyter
jupyter_contrib_nbextensions
autodocsumm
sphinx-rtd-theme
twine
bumpversion
pipdeptree
ipykernel
tqdm
psutil
h5py
numba
pandas
numpy

alphabase