pywin32; sys_platform=='win32'
pythonnet; sys_platform=='win32'

jupyter
twine
bumpversion
pipdeptree
ipykernel
tqdm
psutil
h5py
numba
pandas
numpy

# sphinx
autodocsumm
myst_parser
sphinx
nbsphinx
jinja2
contextfilter
furo

alphabase